<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
	version="3.1" >
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>	
	
  <display-name>PrettyGirl_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>  	
  	<servlet-name>CaptchasServlet</servlet-name>
  	<servlet-class>uuu.pg.view.CaptchasServlet</servlet-class> 	
  	<init-param>
  		<param-name>len</param-name>
  		<param-value>4</param-value>
  	</init-param>
  	<load-on-startup>100</load-on-startup>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>CaptchasServlet</servlet-name>
  	<url-pattern>/images/captcha.jpg</url-pattern>
  	<url-pattern>/images/captcha.jpeg</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegisterCaptchasServlet</servlet-name>
  	<servlet-class>uuu.pg.view.CaptchasServlet</servlet-class>
  	<!-- 
  	<init-param>
  		<param-name>len</param-name>
  		<param-value>7</param-value>
  	</init-param>
  	 -->  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterCaptchasServlet</servlet-name>
  	<url-pattern>/images/register_captcha.jpg</url-pattern>
  	<url-pattern>/images/register_captcha.jpeg</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/404.jsp</location>
  </error-page>  
  
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/WEB-INF/error.jsp</location>
  </error-page>
</web-app>
